* {
	box-sizing: border-box;
}
body {
	background-color: #EFBBEF;
	font-family: cursive;
}
a {
	color: unset;
	text-decoration: none;
}
a:hover {
	color: #808;
}
.title, .title2, .item {
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.title {
	margin-top: 40px;
	color: #808;
	font-size: 40px;
	font-weight: bolder;
}
.title2 {
	font-size: 28px;
}
.items {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #EFAAEF;
}
.item {
	font-size: 28px;
	text-align: unset;
}