#co_title {
	margin: 5px;
	border: 2px solid #222;
	border-radius: 10px;
	padding: 10px;
	overflow: hidden;

	background-color: #FDFDFD;
}

#co_t1 {
	overflow: hidden;
	font-size: 20px;
}
#co_t2 {
	overflow: hidden;
	font-size: 40px;
}
.co_tt0 {
	width: 0px;
	float: left;
}
#co_tt1 {
	width: calc(100% - 20px);
	float: left;
}
#co_tt2 {
	width: 20px;
	text-align: right;
	float: left;
}
#co_tt3 {
	text-align: right;
	user-select: text;
}

.co_item {
	float: left;
	width: calc(25% - 10px);
	height: 44px;
	margin: 5px;
	border: 1px solid #222;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #EEE;
}
.co_item:hover {
	background-color: #FFF;
	cursor: pointer;
}
.co_item:active {
	background-color: #BBB;
	cursor: pointer;
}

.co_save_num {
	width: calc(100% - 64px);
	padding-left: 10px;
	justify-content: unset;

	background-color: #EEE;
}

.co_red:hover {
	background-color: #F00;
	color: #FFF;
}