.c3_item {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.c3_ii {
	margin: auto;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 10px;
	padding: 4px;
	text-align: center;
}
.c3_ran {
	background-color: #FDFDFD;
}
.c3_ran div {
	padding: 4px;
}
.c3_ran div:nth-child(even) {
	background-color: #DDD;
}

#c3_ii_t {
	height: 60px;
}
#c3_ii_t1 {
	float: left;
	width: calc(100% - 180px);
	margin: 10px;
	padding: 6px;
}
#c3_ii_t2 {
	float: left;
	width: 60px;
	margin: 10px;
	padding: 6px;
	text-align: center;
}
#c3_ii_t2::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#c3_ii_t3 {
	float: left;
	width: 60px;
	height: calc(100% - 20px);
	margin: 10px;
	border-radius: 10px;
}
#c3_ii_t3:hover {
	cursor: pointer;
	background-color: #88F;
}
.c3_ii_i {
	line-height: 60px;
	overflow: hidden;
}
.c3_ii_i1 {
	float: left;
	width: calc(100% - 160px);
	padding-left: 20px;
	text-align: left;
}
.c3_ii_i2 {
	float: left;
	width: 80px;
}
.c3_ii_i3 {
	float: left;
	width: 60px;
	height: 40px;
	margin:10px;
	border-radius: 10px;
}
.c3_ii_i3:hover {
	cursor: pointer;
	background-color: #F44;
}
.c3_main .c3_ii_i:nth-child(odd) {
	background-color: #FDFDFD;
}