.co_i {
	margin: auto;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
}
.co_i_bu{
	margin: auto;
	border-radius: 10px;
	padding: 8px;
	padding-left: 20px;
	padding-right: 20px;

	text-align: center;
	font-size: 20px;
}
.co_i_bu:hover {
	cursor: pointer;
	background-color: #88F;
}
.co_arrow_hiden::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.co_ran {
	padding: 10px;
	background-color: #FDFDFD;
}
.co_ran div {
	padding: 4px;
}
.co_ran div:nth-child(even) {
	background-color: #EEE;
}