.co_i {
	margin: auto;
	border-radius: 10px;
	padding: 8px;
	text-align: center;
}
.co_ran {
	padding: 10px;
	background-color: #FDFDFD;
}
.co_ran div {
	padding: 4px;
}
.co_ran div:nth-child(even) {
	background-color: #DDD;
}

#co_i_t {
	height: 60px;
}
#co_i_t1 {
	float: left;
	width: calc(100% - 180px);
	height: 40px;
	margin: 10px;
	padding: 6px;
}
#co_i_t2 {
	float: left;
	width: 60px;
	height: 40px;
	margin: 10px;
	padding: 6px;
	text-align: center;
}
#co_i_t2::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
#co_i_t3 {
	float: left;
	width: 60px;
	height: calc(100% - 20px);
	margin: 10px;
	border-radius: 10px;
}
#co_i_t3:hover {
	cursor: pointer;
	background-color: #88F;
}
.co_i_i {
	line-height: 60px;
	overflow: hidden;
}
.co_i_i1 {
	float: left;
	width: calc(100% - 160px);
	padding-left: 20px;
	text-align: left;
}
.co_i_i2 {
	float: left;
	width: 80px;
}
.co_i_i3 {
	float: left;
	width: 60px;
	height: 40px;
	margin:10px;
	border-radius: 10px;
}
.co_i_i3:hover {
	cursor: pointer;
	background-color: #F44;
}
#co_main {
	border-radius: 10px;
	background-color: #FDFDFD;
	overflow: hidden;
}
#co_main .co_i_i:nth-child(even) {
	background-color: #DDD;
}